body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  width: 100%;
  font-family: sans-serif;
  user-select: none;
}

button{
  background-color: transparent;
  border: none;
}

button:hover{
  cursor: pointer;
}

input{
  background-color: transparent;
  color: #8C8C8C;
}

input:focus, textarea:focus{
  box-shadow: 1px 1px 1px 5px;
}


.outer-container{
  display: flex;
  justify-content: space-between;
  /* margin: auto 20px; */
  flex-wrap: wrap;
}

textarea{
  resize: none;
}
